body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.warning {
  padding: 0.6rem 2rem;
  background-color: rgb(255, 227, 175);
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.canvas svg {
  display: flex;
  height: 100%;
}

[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

.color-input {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 3px;
  overflow: hidden;
}

.link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: inherit;
}

.link:hover {
  color: black;
  text-decoration: underline;
}

.form-line {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-field-valid {
  color: green;
}

.text-field {
  max-width: 14rem;
}

.success {
  color: green;
}

.form-field-invalid {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 1.5rem;
}
.navigation {
  padding: 1.5rem 1.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.navigation--sticky {
  position: fixed;
  inset: 0 0 auto 0;
}
.navigation > .page-title {
  width: 50%;
  text-align: center;
}
.navigation > :first-child {
  width: 25%;
  display: flex;
  justify-content: start;
}
.navigation > :last-child {
  width: 25%;
  display: flex;
  justify-content: end;
}
.navigation nav {
  gap: 0.5rem;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
}
.document-header {
  display: flex;
  justify-content: space-between;
}
.document-header-full-screen {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 3rem;
  left: 1.5rem;
  right: 1.5rem;
}
.tools {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.document-actions {
  display: flex;
  gap: 0.2rem;
}
.modes {
  display: flex;
  gap: 0.2rem;
}
.scene-list {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.scene-preview {
  background-color: rgb(235, 235, 235);
}
.scene-preview-title {
  padding: 1rem;
}
.load-more {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 2rem;
}

.full-screen {
  height: 100vh;
  padding: 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
